body {
  padding: 0;
  margin: 0;
}

.wrap {
  background-image: url('http://farm3.staticflickr.com/2832/12303719364_c25cecdc28_b.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;

  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.landing-wide {
  width: 30rem;
  margin: 0 auto;
}

.brand-logo {
  background-color: gray;
  width: 25rem;
  height: 25rem;
  margin: 6rem auto;
}

.landing-wide>.btn {
  text-transform: uppercase;
  font-weight: 500;
  margin: 2rem 0;
}
.landing-wide>.btn:hover {
  transition: background-color 0.5s ease;
}
