.listing-location {
  font-size: 2.0rem;
}
.listing-tags {
  font-size: 1.7rem;
}

.listing-summary {
  width: 30rem;
}

.listing-summary *:hover {
  text-decoration: none;
}

.listing-summary * {
  text-decoration: none;
  color: black;
}